.projects-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    min-height: 100vh;
    padding: 5rem 0;
    width: 100%;
    color: white;
}

/* .projects-title {
    width: 100%;
    font-size: 44px;
    padding: 15px;
} */
