.project-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 16px;
    /*background-color: #66D7D1;*/
    height: 220px;
    width: 50%;
    opacity: 39%;
    border: .5px solid #6b8fda;
    box-shadow: 0 0 40px 15px #96D2CF4B;
}

.project-card-container:hover {
    background-color: #6b8fda;
    opacity: 39%;
    cursor: pointer;
}

h1 {
    margin-top: -5px
}

.project-data {
    align-items: center;
    padding: 20px 20px 20px 0px;
}

img {
    width: 150px;
    height: 150px;
    margin: 30px;
    color: white;
}

.technologies-container {
    display: flex;
    flex-direction: row;
    color: #66D7D1;
    height: 20px;
    width: 150px;
}