.hero {
    min-height: 100vh;
    width: 100%;

    /* background-color: grey; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #fff;
}

.home-container {
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 20vh;
}

.home-title {
    /* padding-left: 27%; */
    font-family: "Roboto";
    font-size: 50px;
    padding: 1vh;
}
.subtitle-container {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    width: 100%;
    padding: 1vh;
}
.subtitle {
    /* padding-left: 50%; */
    font-family: "Roboto";
    font-size: 20px;
    color: #66D7D1;
    padding-left: 10%;
} 
.emptyContainer {
    /* padding-left: 50%; */
    width: 50%;
    /* background-color: green; */
} 