.navbar {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    padding: 5px 50px;
    color: white;
}

.navbar-bg {
    background-color: #000000;
}

.navbar-container {
    display: flex;
    justify-content: center;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 99999999;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.navbar-item {
    cursor: pointer;
    font-family: Roboto;
    font-size: 1rem;
    padding: 5px;
    color: white;
    text-decoration: none;

    background-image: linear-gradient(#66D7D1 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
            background-size 0.15s,
            background-position 0s 0.3s; /*change after the size immediately*/
}

.navbar-item:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
    color: #66D7D1;
}


/* Small devices (phones) */
@media only screen and (max-width: 480px) {
    .section-body {
      font-size: 13px;
      max-width: 100%;
    }

    .about-me-picture {
        display: none;
    }

    .hamburger-icon {
        position: fixed;
        justify-content: center;
        align-items: center;
        color: white;
        width: 24px;
        height: 24px;
        top: 3.5rem;
        right: 3.5rem;
        /* border-radius: 50%; */
    }

    .navbar {
        display: none;
    }
  }
  
  /* Medium devices (tablets) */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .section-body {
      font-size: 15px;
      max-width: 100%;
    }

    .about-me-picture {
        display: none;
    }

    .hamburger-icon {
        position: fixed;
        justify-content: center;
        align-items: center;
        color: white;
        width: 24px;
        height: 24px;
        top: 3.5rem;
        right: 3.5rem;
        /* border-radius: 50%; */
    }

    .navbar {
        display: none;
    }
  }
  
  /* Large devices (desktops) */
  @media only screen and (min-width: 769px) and (max-width: 960px) {
    .section-body {
      font-size: 18px;
      max-width: 100%;
    }

    .about-me-picture {
      display: none;
    }
  }