.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /*background-color: #2B2d2F;*/
    height: 100vh;
    width: 100%;
    color: white;
    margin-top: 100vh;
}

.section-body {
    padding: 400px 600px 400px 200px;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 35px;
}

.about-title {
    width: 100%;
    font-size: 44px;
    padding: 15px;
}

b {
    color: #66D7D1;
}

.about-me-picture {
    position: absolute;
    right: 15%;
}